// Here you can add other styles
.dark-theme .sidebar, [data-coreui-theme=dark] .sidebar {
    background-color: #15598a !important;
    background-image: none !important;
}
 
.sidebar-header{
    background-color: white !important;
}
.sidebar-toggler {
    --cui-sidebar-toggler-color: rgb(21 89 138);
    --cui-sidebar-toggler-hover-color: rgb(21 89 138 / 65%);
    --cui-sidebar-toggler-focus-color: rgb(0 148 255);
}
.simplebar-content{
background: #15598a;
}

.form-multi-select-optgroup-label
{
  background: #15598a !important;
  color: white !important;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

.card-header-customer-buildings 
{
  --cui-bg-opacity: 1;
  background-color: rgb(29 34 43 / 5%) !important
}
.card-customer-buildings 
{
  --cui-bg-opacity: 1;
  background-color: rgba(var(--cui-secondary-bg-rgb), var(--cui-bg-opacity)) !important;
  // background-color: var(--cui-body-bg);
}
.card-body-customer-buildings 
{
  padding: .25rem 1rem;
  font-weight: bold;
  color:#75797f;
}

.container-btn-flotante {
  position: sticky;
  top: 4.1rem;
  right: 13.4rem;
  display: flex;
  // justify-content: flex-end;
  width: 27rem;
  margin-left: auto;  
  z-index: 10;
  background-color: var(--cui-body-bg);
}



// Responsivo a Celular
@media (max-width: 768px) and (max-width: 991px) { 
  .container-btn-flotante {
    top: 4.5rem;
    right: 1rem; /* Ajusta este valor según lo necesites en pantallas pequeñas */
    left: 1rem;  /* Para centrar el contenido puedes usar left */
    width: auto;
  }
  .btns-flotantes-customer-moviles{
    margin-top: .5rem;
  }
}

// CSS para Tablets (iPads) en Modo Horizontal:
@media (min-width: 992px) and (max-width: 1280px) {
  .container-btn-flotante {
    top: 3rem;
    right: 3.4rem;
  }
}

// Responsivo a Laptop
@media (min-width: 1280px) {
  .container-btn-flotante {
    top: 5rem;
    right: 3.2rem;
  }
}
