@import "@coreui/coreui-pro/scss/functions";

// If you want to override variables do it here
@import "variables";
@import "variables-dark";

// Import styles
@import "@coreui/coreui-pro/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
@import "vendors/calendar";
@import "vendors/simplebar";

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
@import "custom";


.btn-primary {
  --cui-btn-color: #fff;
  --cui-btn-bg: #00AEEF;
  --cui-btn-hover-color: white;
}

.btn-outline-primary {
  --cui-btn-color: #00AEEF;
  --cui-btn-hover-color: #fff;
  --cui-btn-hover-bg: #00AEEF;
  --cui-btn-border-color: #00AEEF;
}